<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="QuanLyNhaHangEntities" connectionString="metadata=res://*/Properties.Model.csdl|res://*/Properties.Model.ssdl|res://*/Properties.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANHTHU\SQLEXPRESS;initial catalog=QuanLyNhaHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="DevExp.QLNH.Properties.Settings.QuanLyNhaHangConnectionString"
        connectionString="Data Source=THANHTHU\SQLEXPRESS;Initial Catalog=QuanLyNhaHang;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>